A       {  font-family: Verdana; font-weight: 10; text-decoration: none; color:#000000;}
A:hover {  font-family: Verdana; font-weight: 10; text-decoration: underline; color:#000000;}
A:hover {  font-family: Verdana; font-weight: 10; text-decoration: underline; color:#000000;}
td      {  font-family: Verdana; font-weight: 10; text-decoration: none; color:#000000;}
th      {  font-family: Verdana; font-weight: 10; text-decoration: none; color:#000000;}