@import "tailwindcss";

@theme {
    --font-serif: "Neuton", "sans-serif";
}

body {
    background-image: radial-gradient(circle, #ddd 1px, transparent 1px);
    background-size: 20px 20px; /* Adjust the size of the dots */
    background-color: #f4fe4f4; /* Light background color */
}

.header {
    background: #fff;
    border-color: #a91e1b;
}